body {
  background: url("../images/logo.png") center center no-repeat;

}
html {
  height: 100%;
  background: url("../images/03.gif") no-repeat right bottom;
  box-sizing: border-box;
  transition: all 0s ease-in-out;
}
html:hover {
  background: #041220 url("../images/03.gif") no-repeat right bottom;
  transition: background 1s linear;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
